<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <components>
       
        <component id="notificationService"
			service="LetterAmazer.Business.Services.Interfaces.INotificationService, LetterAmazer.Business.Services"
			type="LetterAmazer.Business.Services.Services.NotificationService, LetterAmazer.Business.Services">
            <parameters>
                <fromMail>supports@letteramazer.com</fromMail>
                <emailTemplatesFolder>D:\Projects\letteramazer\source\src\LetterAmazer.Websites.Client\Resources\EmailTemplates</emailTemplatesFolder>
            </parameters>
        </component>
        <component id="emailSender"
			service="LetterAmazer.Business.Services.Components.Mail.IEmailSender, LetterAmazer.Business.Services"
			type="LetterAmazer.Business.Services.Components.Mail.DebugEmailSender, LetterAmazer.Business.Services">
        </component>
        <!--<component id="emailSender"
                   service="LetterAmazer.Business.Services.Components.Mail.IEmailSender, LetterAmazer.Business.Services"
                   type="LetterAmazer.Business.Services.Components.Mail.SystemNetMailSender, LetterAmazer.Business.Services">
            <parameters>
                <host>smtp.gmail.com</host>
                <port>587</port>
                <username>smtp@letteramzer.com</username>
                <password>letteramzer</password>
                <enableSsl>true</enableSsl>
            </parameters>
        </component>-->

        <component id="passwordEncryptor"
            service="LetterAmazer.Business.Services.Interfaces.IPasswordEncryptor, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.SHA1PasswordEncryptor, LetterAmazer.Business.Services">
        </component>
        <component id="customerService"
            service="LetterAmazer.Business.Services.Domain.Customers.ICustomerService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.CustomerService, LetterAmazer.Business.Services">
            <parameters>
                <resetPasswordUrl>http:///www.letteramazer.com/{0}/RecoverPassword?key={1}</resetPasswordUrl>
            </parameters>
        </component>
        <component id="couponService"
            service="LetterAmazer.Business.Services.Domain.Coupons.ICouponService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.CouponService, LetterAmazer.Business.Services">
        </component>
        <component id="paypalMethod"
            service="LetterAmazer.Business.Services.Domain.Payments.IPaymentMethod, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.PaymentMethod.PaypalMethod, LetterAmazer.Business.Services">
            <parameters>
                <serviceUrl>https://www.sandbox.paypal.com/cgi-bin/webscr?</serviceUrl>
                <!-- production: https://www.paypal.com/cgi-bin/webscr? -->
                <paypalIPN>http://www.letteramazer.com/en/singleletter/paypalipn/{0}</paypalIPN>
                <returnUrl>http://www.letteramazer.com/{0}/singleletter/confirmation</returnUrl>
            </parameters>
        </component>
        <component id="creditsMethod"
            service="LetterAmazer.Business.Services.Domain.Payments.IPaymentMethod, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.PaymentMethod.CreditsMethod, LetterAmazer.Business.Services" />
        <component id="paymentService"
            service="LetterAmazer.Business.Services.Domain.Payments.IPaymentService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.PaymentService, LetterAmazer.Business.Services">
            <parameters>
                <methods>
                    <array>
                        <item>${paypalMethod}</item>
                        <item>${creditsMethod}</item>
                    </array>
                </methods>
            </parameters>
        </component>
      <component id="orderService"
          service="LetterAmazer.Business.Services.Domain.Orders.IOrderService, LetterAmazer.Business.Services"
          type="LetterAmazer.Business.Services.Services.OrderService, LetterAmazer.Business.Services">
      </component>
      <component id="countryService"
                service="LetterAmazer.Business.Services.Domain.Countries.ICountryService, LetterAmazer.Business.Services"
                type="LetterAmazer.Business.Services.Services.CountryService, LetterAmazer.Business.Services">
      </component>
      <component id="officeService"
                      service="LetterAmazer.Business.Services.Domain.Offices.IOfficeService, LetterAmazer.Business.Services"
                      type="LetterAmazer.Business.Services.Services.Offices.OfficeService, LetterAmazer.Business.Services">
      </component>


      <component id="letterService"
            service="LetterAmazer.Business.Services.Domain.Letters.ILetterService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.LetterService, LetterAmazer.Business.Services">
            <parameters>
                <pdfStoragePath>D:\Projects\letteramazer\source\src\LetterAmazer.Websites.Client\UserData\PdfLetters</pdfStoragePath>
            </parameters>
        </component>
        <component id="fulfillmentService"
            service="LetterAmazer.Business.Services.Domain.Fulfillments.IFulfillmentService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.Fulfillment.JupiterService, LetterAmazer.Business.Services">
            <parameters>
                <serviceUrl>https://www.dtpcloudsystems.net/WorldShip/rs/S3AccessResponder?restletMethod=get</serviceUrl>
                <username>0429924b-6815-31bb-b4a6-f3e370a0f357</username>
                <password>0429924b-6815-31bb-b4a6-f3e370a0f357</password>
                <zipStoragePath>~/UserData/Zip</zipStoragePath>
            </parameters>
        </component>
    </components>

    <facilities>
        
    </facilities>
</configuration>

