/src/LetterAmazer.Websites.Client/obj
/src/LetterAmazer.Websites.Client/bin

/src/LetterAmazer.Business.Utils/obj
/src/LetterAmazer.Business.Utils/bin
src/LetterAmazer.Business.Services/bin/Debug/log4net.xml
/src/LetterAmazer.Business.Services/obj
/src/LetterAmazer.Websites.Client/UserData/PdfLetters/2014
/src/LetterAmazer.Websites.Client/logs/error.txt
/src/LetterAmazer.Websites.Client/logs/debug.txt
