/src/LetterAmazer.Websites.Client/obj
/src/LetterAmazer.Websites.Client/bin

/src/LetterAmazer.Business.Utils/obj
/src/LetterAmazer.Business.Utils/bin
src/LetterAmazer.Business.Services/bin/Debug/log4net.xml
