

.pointer:hover {
   cursor:pointer;
}


.smallInfo {
    font-size:10pt;
    font-style:italic;
}

.dashboardLink, 
.dashboardLink:hover, 
.dashboardLink:active, 
.dashboardLink:visited,
.dashboardLink p,
.dashboardLink p:hover {
    color:@tgray;
    text-decoration:none;
}



.dashboardBox .credit-text {
    color:@lblue;
    font-size:22pt;
}