.dashboardBox {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid @bgray;
    border-radius: 5px;
    text-align:center;
}

.dashboardBox:hover {
    background-color:@hgray;
}

.pointer:hover {
   cursor:pointer;
}

.dashboardBox .lead {
                  font-size:16pt;
                  text-align:center;
                  display:block;
                  font-weight:bold;
              }

.dashboardBox a, .dashboardBox a:hover {
                  color:black;
              }

.smallInfo {
    font-size:10pt;
    font-style:italic;
}

.dashboardBox .credit-text {
    color:@lblue;
    font-size:22pt;
}