@using LetterAmazer.Business.Utils.Helpers
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/ContentPageLayout.cshtml";
}

    <script type="text/javascript"
        src='@Constants.GoogleMapsApiCall'>
    </script>
    <script>
        function initialize(coords) {
            var mapOptions = {
                center: new google.maps.LatLng(coords.Item2, coords.Item1),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(coords.Item2, coords.Item1),
                map: map
            });
            google.maps.event.addDomListener(window, 'load', initialize);
        }
    </script>

    <div class="jumbotron-white">
        <div class="container">
            <div class="text-center promotionMargin">
                <img src="Content/images/letteramazer.png" />
                <div>
                    <p class="frontpageLead">
                        1. Tell us where we should send your letter. 2. Tell us what your letter should contain. 3. Get the letter stamped!
                    </p>


                </div>
            </div>
        </div>
    </div>