@model dynamic

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
    ViewBag.PageTitle = "500 Page - an error occurred - LMPost.com";
}

<h1>An error occured</h1>
<p>We made a mistake, and an error occured.</p>
<p>We are sorry!</p>
