@model dynamic

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
    ViewBag.PageTitle = "404 Page - we could not find this page - LMPost.com";
}

<h1>Page is not found (404 page)</h1>
<p>Whoops. Unfortunately, we cannot find this page. This is most likely because of a dead link.</p>