@using LetterAmazer.Business.Services.Resources
@section header {
}
<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div>
                @Html.Raw(Strings.ConfirmationContent)
                <br/><br/>
                <iframe width="250" height="188" src="//www.youtube.com/embed/vLBKOcUbHR0" frameborder="0" allowfullscreen></iframe>
                <br/><br/>
            </div>
        </div>
    </div>
</div>