@section header {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/css/dropzone.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>
}
<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div id="myDropzone" class="la-dropzone">
                <div class="dz-default dz-message">
                    <span>Drop files here to upload</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('div#myDropzone').dropzone({
        url: '@Url.Action("Upload")',
        acceptedFiles: 'application/pdf',
        maxFilesize: 10,
        fallback: function () {
            // use uploadify
        },
        complete: function (file, responseText) {
            console.log(file, " ", responseText);
        },
        error: function (file, responseText) {
            var template = file.previewTemplate;
            $(template).find('.dz-error-message').remove();
            $(template).addClass('dz-error');
            $(template).find('.dz-error-mark').on('click', function () {
                $(template).remove();
            });
        }
    });
</script>