.frontpage {
    font-size:14pt;
    font-family: 'Open Sans', sans-serif;
}


.frontpage-top-usptext {
    text-align:center;
    display:block;
    font-size:14pt;
        font-family: 'Open Sans', sans-serif;
}

.frontpage-top-usp {
    font-size: 24pt;
    display:block;
    text-align:center;
}

.frontpage-top-description-header {
    font-size:24pt;
}

.frontpage h1 {
    text-align: center;
}

.frontpage-top-image-usp {
    max-width:100px;
    width:100px;
    height:100px;
    max-height:100px;
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.frontpage-top-uspmargin {
    margin-left:30px;
    margin-right:30px;
}

.frontpage-send-letters h2 {
    font-size:18pt;
}