<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <components>
      <component id="orderService"
          service="LetterAmazer.Business.Services.Domain.Orders.IOrderService, LetterAmazer.Business.Services"
          type="LetterAmazer.Business.Services.Services.OrderService, LetterAmazer.Business.Services">
      </component>
      <component id="customerService"
                  service="LetterAmazer.Business.Services.Domain.Customers.ICustomerService, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Services.CustomerService, LetterAmazer.Business.Services">
      </component>
      <component id="letterService"
                        service="LetterAmazer.Business.Services.Domain.Letters.ILetterService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.LetterService, LetterAmazer.Business.Services">
      </component>
      <component id="countryService"
                        service="LetterAmazer.Business.Services.Domain.Countries.ICountryService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.CountryService, LetterAmazer.Business.Services">
      </component>
      <component id="organisationService"
                        service="LetterAmazer.Business.Services.Domain.Organisation.IOrganisationService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.OrganisationService, LetterAmazer.Business.Services">
      </component>
      <component id="mailService"
                        service="LetterAmazer.Business.Services.Domain.Mails.IMailService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.MailService, LetterAmazer.Business.Services">
      </component>
      <component id="deliveryJobService"
                        service="LetterAmazer.Business.Services.Domain.DeliveryJobs.IDeliveryJobService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.DeliveryJobService, LetterAmazer.Business.Services">
      </component>
      <component id="officeService"
                        service="LetterAmazer.Business.Services.Domain.Offices.IOfficeService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.OfficeService, LetterAmazer.Business.Services">
      </component>
      <component id="officeProductService"
                        service="LetterAmazer.Business.Services.Domain.OfficeProducts.IOfficeProductService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.OfficeProductService, LetterAmazer.Business.Services">
      </component>
      <component id="fulfillmentPartnerService"
                        service="LetterAmazer.Business.Services.Domain.FulfillmentPartners.IFulfillmentPartnerService, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Services.FulfillmentPartnerService, LetterAmazer.Business.Services">
      </component>



      <component id="orderFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.IOrderFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.OrderFactory, LetterAmazer.Business.Services">
      </component>
      <component id="organisationFactory"
                        service="LetterAmazer.Business.Services.Factory.Interfaces.IOrganisationFactory, LetterAmazer.Business.Services"
                        type="LetterAmazer.Business.Services.Factory.OrganisationFactory, LetterAmazer.Business.Services">
      </component>

      <component id="customerFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.ICustomerFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.CustomerFactory, LetterAmazer.Business.Services">
      </component>
      <component id="letterFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.ILetterFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.LetterFactory, LetterAmazer.Business.Services">
      </component>
      <component id="countryFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.ICountryFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.CountryFactory, LetterAmazer.Business.Services">
      </component>
      <component id="addressFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.IAddressFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.AddressFactory, LetterAmazer.Business.Services">
      </component>
      <component id="officeFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.IOfficeFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.OfficeFactory, LetterAmazer.Business.Services">
      </component>
      <component id="fulfilmentPartnerFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.IFulfilmentPartnerFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.FulfilmentPartnerFactory, LetterAmazer.Business.Services">
      </component>
  
      
      
    </components>

    <facilities>
        
    </facilities>
</configuration>

