<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <components>
        <component id="dbFactory"
            service="LetterAmazer.Business.Services.Data.IDBFactory, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Data.DBFactory, LetterAmazer.Business.Services">
        </component>
        <component id="unitOfWork"
            service="LetterAmazer.Business.Services.Data.IUnitOfWork, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Data.UnitOfWork, LetterAmazer.Business.Services">
        </component>
        <component id="repository"
            service="LetterAmazer.Business.Services.Data.IRepository, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Data.EFRepository, LetterAmazer.Business.Services">
        </component>
        <component id="customerService"
            service="LetterAmazer.Business.Services.Interfaces.ICustomerService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.CustomerService, LetterAmazer.Business.Services">
        </component>
        <component id="couponService"
            service="LetterAmazer.Business.Services.Interfaces.ICouponService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.CouponService, LetterAmazer.Business.Services">
        </component>
        <component id="paypalMethod"
            service="LetterAmazer.Business.Services.Interfaces.IPaymentMethod, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.PaymentMethod.PaypalMethod, LetterAmazer.Business.Services">
            <parameters>
                <serviceUrl>https://www.sandbox.paypal.com/cgi-bin/webscr?</serviceUrl>
                <!-- production: https://www.paypal.com/cgi-bin/webscr? -->
                <paypalIPN>http://www.letteramazer.com/en/singleletter/paypalipn</paypalIPN>
                <returnUrl>http://www.letteramazer.com/{0}/singleletter/confirmation</returnUrl>
            </parameters>
        </component>
        <component id="paymentService"
            service="LetterAmazer.Business.Services.Interfaces.IPaymentService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.PaymentService, LetterAmazer.Business.Services">
            <parameters>
                <methods>
                    <array>
                        <item>${paypalMethod}</item>
                    </array>
                </methods>
            </parameters>
        </component>
        <component id="orderService"
            service="LetterAmazer.Business.Services.Interfaces.IOrderService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.OrderService, LetterAmazer.Business.Services">
        </component>
        <component id="letterService"
            service="LetterAmazer.Business.Services.Interfaces.ILetterService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.LetterService, LetterAmazer.Business.Services">
        </component>
        <component id="fulfillmentService"
            service="LetterAmazer.Business.Services.Interfaces.IFulfillmentService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.Fulfillment.DummyJupiterService, LetterAmazer.Business.Services">
            <parameters>
                <zipStoragePath>D:\Projects\letteramazer\source\src\LetterAmazer.Websites.Client\UserData\Zip</zipStoragePath>
            </parameters>
        </component>
        <!--<component id="fulfillmentService"
            service="LetterAmazer.Business.Services.Interfaces.IFulfillmentService, LetterAmazer.Business.Services"
            type="LetterAmazer.Business.Services.Services.Fulfillment.JupiterService, LetterAmazer.Business.Services">
            <parameters>
                <serviceUrl>https://www.dtpcloudsystems.net/WorldShip/rs/S3AccessResponder?restletMethod=get</serviceUrl>
                <username>0429924b-6815-31bb-b4a6-f3e370a0f357</username>
                <password>0429924b-6815-31bb-b4a6-f3e370a0f357</password>
                <zipStoragePath>D:\Projects\letteramazer\source\src\LetterAmazer.Websites.Client\UserData\Zip</zipStoragePath>
            </parameters>
        </component>-->
    </components>

    <facilities>
        
    </facilities>
</configuration>

