<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <components>
      <component id="orderService"
          service="LetterAmazer.Business.Services.Domain.Orders.IOrderService, LetterAmazer.Business.Services"
          type="LetterAmazer.Business.Services.Services.OrderService, LetterAmazer.Business.Services">
      </component>
      <component id="customerService"
                  service="LetterAmazer.Business.Services.Domain.Customers.ICustomerService, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Services.CustomerService, LetterAmazer.Business.Services">
      </component>
      <component id="orderFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.IOrderFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.OrderFactory, LetterAmazer.Business.Services">
      </component>
      <component id="customerFactory"
                  service="LetterAmazer.Business.Services.Factory.Interfaces.ICustomerFactory, LetterAmazer.Business.Services"
                  type="LetterAmazer.Business.Services.Factory.CustomerFactory, LetterAmazer.Business.Services">
      </component>

    </components>

    <facilities>
        
    </facilities>
</configuration>

