@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.CreditsViewModel

<h1>Buy credits</h1>

<a href="@Url.Action("Index")">Go back to overview</a><br/><hr/>

You currently have @Model.Credit.ToFriendlyMoney() $ on your account.


<h3>How many dollars do you want to insert?</h3>
@using (Html.BeginForm("Credits", "User", FormMethod.Post))
{
    
    @Html.TextBoxFor(model => model.PurchaseAmount, new { @class = "form-control", placeholder = "How many credits?" })
    
    <h3>Select payment method</h3>
        
        @Html.DropDownListFor(model => model.SelectedPaymentMethod, Model.PaymentMethods, new { @class = "form-control" })
    
    <br/><br/>
    <input type="submit" class="btn btn-primary btn-lg" value="Purchase credits" />

}

<script type="text/javascript">
    $(document).ready(function () {
        $('#@Html.IdFor(model=>model.PurchaseAmount)').change(function () {
            var value = $('#@Html.IdFor(model => model.PurchaseAmount)').val();
            if (value <= 1) {
                $('#@Html.IdFor(model=>model.PurchaseAmount)').val('1');
            }
        });
    });
</script>
