@using LetterAmazer.Websites.Client.Extensions
@using LetterAmazer.Websites.Client.Resources.Views.User

@model LetterAmazer.Websites.Client.ViewModels.CreditsViewModel

@section header {
}

<h1>Buy credits</h1>

You currently have @Model.Credit.ToFriendlyMoney() credits.
        

<h3>How many credits do you want to purchase?</h3>
@using (Html.BeginForm("Credits","User",FormMethod.Post))
        {
            
            @Html.EditorFor(model => model.PurchaseAmount) <text>($)</text>

    <h3>Select payment method</h3>
            <div>
                
                
                @foreach (var a in Model.PaymentMethods)
                {
                    <p>
                        @Html.RadioButtonFor(b => b.SelectedPaymentMethod, a.Id)  @a.Name
                    </p>
                }
            </div>
            

            <div class="form-group">
                <input type="submit" class="btn btn-success btn-lg" value="Purchase credits" />
            </div>
        }

<script type="text/javascript">
    $(document).ready(function() {
        $('#@Html.IdFor(model=>model.PurchaseAmount)').change(function() {
            var value = $('#@Html.IdFor(model => model.PurchaseAmount)').val();
            if (value <= 1) {
                $('#@Html.IdFor(model=>model.PurchaseAmount)').val('1');
            }
        });
    });
</script>
