
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.OrderDetailViewModel

@section header {
}

<div class="jumbotron-white">
    <div class="container">
        <h2>Delete </h2>
        @Html.MessageBox(HtmlHelperExtensions.MessageBoxType.Warning, "Confirm you are going to delete")
        @using (Html.BeginForm())
        {
            <input type="submit" class="btn btn-primary" value="Yes, delete" />
        }
    </div>
</div>

