@using LetterAmazer.Business.Services.Domain.Invoice
@model LetterAmazer.Websites.Client.ViewModels.User.InvoiceOverviewViewModel

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<span class="breadcrumbs"><a href="/">LMPost</a> > <a href="@Url.Action("Index")">Dashboard</a> > Invoices</span>

<h1>Invoices</h1>

<p>Here is a list of all invoices you have received from LMPost.</p>
@Html.Partial("_invoiceOverview", Model)
