@using LetterAmazer.Business.Services.Domain.Invoice
@model LetterAmazer.Websites.Client.ViewModels.User.InvoiceOverviewViewModel



<h1>Invoices</h1>

<p>Here is a list of all invoices you have received from LetterAmazer.</p>
@Html.Partial("_invoiceOverview", Model)
