@using LetterAmazer.Websites.Client.Resources.Views.Home

<h1>About us</h1>
<p>We decided to start LetterAmazer to make letters easy. Our overall vision is to be <b>friendly</b>. When you use our service or call us, you should feel <b>welcome!</b></p>

<p>We've made it extremely simple to send a single letter, with no extra charges just because you don't want to register a new account. For businesses it is extremely simple to use, with many ways of integrating to our service.</p>

<p>We are two guys from Denmark. Lars Holdgaard is the tech-wizard and works as a UX/conversion specialist at SAXO.com. Martin Carlsson is the optimization-and-analyst genius, and works as an accountant / data analyst at Rezidor Hotel Group. </p>

<h3>How do we send the letters you might ask?</h3>
<p>We've hired a global team of goblins working 24 hours a day. No, seriously, we use several sub-contractors around the globe, which does all the hard work. (And we work hard to make sure they deliver the quality you guys need).</p>

<p>Enough talk! Mail us if you have any questions, or send a letter now!</p>