
@{
    ViewBag.PageTitle = "About LMPost";
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<div class="frontpage">
    <div class="frontpage-top-usptext" style="text-align:left">
        <h1>
            About LMPost
        </h1>


        <p>Our vision is to automate letters, for everyone, everywhere.</p>

        <p>
            There is no argument for people sending their own letters, simply because you can do it easier, faster and cheaper with a service like ours.
        </p>

        <p>LetterAmazer is about automation and convenience. We want to make the world a better place, and make sure less time is spent with mailing letters. We can do it professionally with machines, why do it manually?</p>


    </div>

    <br />
    <hr />
    <br />

    <div class="frontpage-top-usptext" style="text-align:left">
        <span class="frontpage-top-description-header">
            How LMPost started
        </span>
        <p>
            In 2013, we we’re researching searching a company. In this company, we had to validate the international users real address. We wanted to do this by sending a letter, and then the content of that letter, should be entered on a website.
        </p>

        <p>
            We searched and searched. We could not find any professional service that allowed us to do so. These services were only available locally, or with a very bad quality and with 5-7 days of delivery.
        </p>

        <p>
            The initial company turned out do be a bad idea, but the idea about sending letters internationally, with high quality, stayed with us.
        </p>

        <p>We then started LMPost, and found out, we are not the only one who had this problem. In fact, corporations around the world, had this problem for decades.</p>

    </div>

    <br />
    <hr />
    <br />


    <div class="frontpage-top-usptext" style="text-align:left">
        <span class="frontpage-top-description-header">
            The people behind LMPost
        </span>
        <p>
            In LMPost, we are two people. We are about to become more people, so soon, we will have a full team of people serving the vision of making the world more efficient.
        </p>

        <h2>CEO and co-founder, Lars Holdgaard</h2>

        <img src="@Url.Content("/Content/images/1623763_10151813235096886_1787855136_n.jpg")" style="max-width: 150px; float: left; margin-right:15px; " />
        <p>Lars Holdgaard is an entrepreneur by heart, and has built several companies the last years. Recently, he sold his first company, which was one of the biggest websites for students in Denmark.</p>

        <p>Lars Holdgaard has a bachelor in software technology from the Technical University of Denmark. He has a masters degree from the IT-University in e-business.</p>

        <p>
            He has previously worked as a developer in the big IT-consulting company Netcompany A/S, and works as a UX/conversion specialist at SAXO.com.
        </p>

        <br /><br />
        <h2>CFO and co-founder, Martin Carlsson</h2>
        <img src="@Url.Content("/Content/images/1455878_10152199113254113_90765289_n.jpg")" style="max-width: 150px; float: left; margin-right:15px;" />
        <p>Martin Carlsson has a master's degree from Aalborg University in economics. Besides Aalborg University, he has taken financial courses at the University of Copenhagen.</p>

        <p>Martin has previously worked as a data analyst at DataProces ApS, and works currently as a data analyst at Rezidor Hotel Group.</p>


    </div>


</div>
