@using LetterAmazer.Websites.Client.Resources.Views.Home

<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">

            <div>
                <p class="frontpageLead">
                    @ViewRes.AboutUs
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @Html.Raw(ViewRes.AboutUsContent)
            @Html.Partial("NewsletterForm")
        </div>
    </div>
</div>
