@using LetterAmazer.Websites.Client.Resources.Views.Home

<h1>Contact us</h1>
<p>Always feel free to contact us.</p>

<h2>Contact information</h2>
(+45) 61793650<br/>
info@letteramazer.com

<h2>Company information</h2>
LetterAmazer IvS<br/>
Måløv Hovedgade 58c st. th.<br />
2760 Måløv<br />
Denmark<br />
<br /><br />
Vat number: DK35636307<br />

<h2>Bank information</h2>
Bank: Norea<br />
Reg. nr: 2279<br/>
Account number: 8971983559