@using LetterAmazer.Business.Services.Resources

<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div>
                <p class="frontpageLead">
                    @Strings.ContactUs
                </p>
            </div>
        </div>
    </div>
</div>
