@{
    Layout = "~/Views/Shared/_Standard.cshtml";
}
<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div>
                <p class="frontpageLead">
                    FAQ
                </p>
            </div>
        </div>
    </div>
</div>
