@using LetterAmazer.Websites.Client.Resources.Views.Home
@section header {
}
<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div>
                @Html.Raw(ViewRes.PleaseCheckEmailAndStartToRecoverPassword)
            </div>
        </div>
    </div>
</div>