@model dynamic

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
    ViewBag.PageTitle = "Demo of LMPost";
}

<h1>Manual - how to use LMPost.com</h1>

<b>Contents:</b><br/>
<ul>
    <li><a href="#send_a_letter">Sending a letter</a>
        <ul>
            <li><a href="#upload_a_file">Uploading a file</a></li>
            <li><a href="#select_a_country">Select a country</a></li>
            <li><a href="#order_summary">Order summary</a></li>
            <li><a href="#letter_overview">Letters in order</a></li>
            <li><a href="#recepient_box">Recepient box</a></li>

        </ul>
    </li>
    <li>
        <a href="#positioning">Positioning of address in letter</a>
    </li>
    <ul>
        <li><a href="#verify_position">Verify position of header</a></li>
        <li><a href="#download_template">Download our letter template</a></li>

    </ul>
    <li><a href="#dashboard">Profile</a></li>
    <ul>
        <li>
            <a href="#profile_actions">Actions</a>
        </li>
        <li><a href="#profile_overview">Profile</a></li>
        <li>
            <a href="#order_summary">Order overview</a>
        </li>
    </ul>
</ul>


<h2 id="send_a_letter">Sending a letter</h2>
<h3 id="upload_a_file">Uploading a file</h3>
<p>First step is uploading a PDF file.</p>

<p>
    Before you have uploaded a file:<br />
    <img src="/Content/images/manual/Screenshot 2014-06-30_22.21.34.png" class="manual_screenshot">
</p>
<p>
    After you have uploaded a file, wait until it is finished and looks like this:<br />
    <img src="/Content/images/manual/Screenshot 2014-06-30_22.22.17.png" class="manual_screenshot">
</p>

<h3 id="select_a_country">Pick a country</h3>
<p>Select a country the letter(s) should be sent to.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.22.24.png" class="manual_screenshot">

<h3 id="order_summary">Summary of order</h3>
<p>Verify your order looks correct.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.22.34.png" class="manual_screenshot">
<br />

<h3 id="letter_overview">Letters in order</h3>
<p>If you want, you can verify the individual letters look correct. You can also click the image to the right of the letters, to see if the address field is positioned correct.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.22.38.png" class="manual_screenshot">
<br />

<h3 id="recepient_box">Recepient box</h3>
<p>Verify the address field is positioned correct.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.22.46.png" class="manual_screenshot">

<h2 id="positioning">Positioning of address field</h2>
<h3 id="verify_position">How to verify the correct position</h3>
<p>When you upload PDF files, you can see information about the individual letter. Here, you can download a preview that shows where the address should be positioned.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.22.46.png" class="manual_screenshot">

<h3 id="download_template">Download our letter template</h3>


<h2 id="dashboard">Your profile / dashboard</h2>
<p>When you log in, you arrive at your dashboard. Here you can control your account.</p>
<h3 id="profile_actions">Actions</h3>
<p>Below the actions you can do on your dashboard. This includes sending a letter.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.20.19.png" class="manual_screenshot">
<br />

<h3 id="profile_overview">Profile overview</h3>
<p>Here you can stats of your profile, including how many credits your account have left.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.20.29.png" class="manual_screenshot">
<br />

<h3 id="order_summary">Order overview</h3>
<p>Here you can see your recent orders.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.20.50.png" class="manual_screenshot">
<br />

<h3 id="individual_order">Individual order</h3>
<p>When you click to see more details of an individual order, you can see more information about it.</p>
<img src="/Content/images/manual/Screenshot 2014-06-30_22.21.06.png" class="manual_screenshot">
<br />
<img src="/Content/images/manual/Screenshot 2014-06-30_22.21.15.png" class="manual_screenshot">
<br />
