@using LetterAmazer.Websites.Client.Resources.Views.Home
@model LetterAmazer.Websites.Client.ViewModels.PriceViewModel

<h1>Prices to send physical letters around the globe</h1>
<h3>Calculate price</h3>
@Html.ListBoxFor(model => model.SelectedItem, Model.Countries)

<input type="number" id="getPricePageCount" value="1" />

<input type="button" id="getPriceBtn" value="Get price" class="btn btn-success" />

<label id="getPriceLbl"></label>
            (ex. local VAT)

<p>So, when we started LetterAmazer, we found out sending letters isn't free. But! We have done anything in our power to find the cheapest prices, so you can send letters world-wide cheaply.</p>

<script>
    $(document).ready(function () {
        $('#getPriceBtn').click(function () {
            updatePrice();
        });

        $('#getPricePageCount').change(function () {
            updatePrice();
        });

        $('#SelectedItem').change(function () {
            updatePrice();
        });
    });

    function updatePrice() {
        var countryId = $('#SelectedItem').val();
        var pageCount = $('#getPricePageCount').val();

        var url = '/GetPrice?countryId=' + countryId + '&pages=' + pageCount;
        $.ajax({
            type: "GET",
            url: url,
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#getPriceLbl').text(data + ' $');
            },
            error: function () {
                $('#getPriceLbl').text('No prices for this delivery');
            }
        });
    }
</script>
