@using LetterAmazer.Business.Services.Resources
<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <div>
                <p class="frontpageLead">
                    @Html.Raw(Strings.PricingHint)
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @Html.Raw(Strings.PricingContent)
            @Html.Partial("NewsletterForm")
        </div>
    </div>
</div>
