<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">

            <div>
                <p class="frontpageLead">
                    Prices to send physical letters around the globe
                </p>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>So, when we started LetterAmazer, we found out sending letters isn't free. But! We have done anything in our power to find the cheapest prices, so you can send letters world-wide cheaply.</p>

            <p>
                Our price structure is really simple:<br />
                <b>1.75 USD pr. letter (world wide)</b>
            </p>

            <p>
                If you need to send additional pages:<br />
                1 page: 1.75 USD<br />
                2 pages: 1.95 USD<br />
                3 pages: 2.15 USD<br />
                4 pages: 2.35 USD<br />
                ...
            </p>

            <h3>Why no country specific prices?</h3>
            <p>Unfortunately EVERY other company sending letters, gives you unique prices for each country. We got so tired of that complex price structure.</p>

            <p>One price, all countries. No more rubbish.</p>

            <p>Send some letters now! :-)</p>

            @Html.Partial("NewsletterForm")
        </div>
    </div>
</div>
