@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/ContentPageLayout.cshtml";
    ViewBag.PageTitle = "Pricing is awesome";
}

 <p>We are currently developing an API, so our system can be integrated into any software application or website. That means if you need automated physical letters, we are there to provide it.</p>

<p>We promise it will be an extremely simple REST API, and we expect it to be up in December 2013 or January 2014.</p>

<p>Frankly, we hate FAQ's, where business owners invent their own questions and answer them by a sales speech. However, we will try to answer some of the obvious questions, we've met when we discuss our business with others.</p>

<h3>Can I integrate it into my intranet / portal / website?</h3>
<p>Yes, that's the idea!</p>

<p>Unfortunately, it will require some IT-guys to make it work. It probably won't take too long, as we've made it as simple as possible for you to integrate.</p>

<h3>Can you help with our integration?</h3>
<p>Yes, and yes. Why yes, twice? </p>

<p>First of all, we will of course the help IT-guys. If they have questions or problems, we help... For free. Unlike those 150 USD pr. hour bastards ;-)</p>

<p>If you don't have the IT resources inside your company, it gets more complex. We will help make the integration, depending on the system. Please make contact and we will figure something out.</p>
