@{
    ViewBag.PageTitle = "User is already confirmed";
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<h1>Account is already confirmed!</h1>
<p>There is no need to confirm the user, as it has already been confirmed.</p>
<p>@Html.ActionLink("Click here to go to log in page","Account","Home").</p>
