@model dynamic

@{
    ViewBag.Title = "Video of LetterAmazer in use";
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<h2>title</h2>
<div class="flex-video widescreen">
    <iframe src="//www.youtube.com/embed/YHoidN7f0Ig" frameborder="0" allowfullscreen></iframe>
</div>
