@using LetterAmazer.Business.Utils.Helpers

<ul>
    <li>@Html.ActionLink("Overview", "Index", "User")</li>
    <li>@Html.ActionLink("Invoices", "InvoiceOverview", "User")</li>
    
    @if (SessionHelper.Customer.OrganisationId > 0)
    {
        <li>@Html.ActionLink("Edit organisation", "InvoiceOverview", "User")</li>
    }
    else
    {
        <li>@Html.ActionLink("Create organisation", "CreateOrganisation", "User")</li>
    }
    

</ul>