
<div class="bg-warning">
    <p>Your account has not been activated yet. Check your e-mail for an activation e-mail, or <a href="#">receive a new one</a>.</p>
    <p>
        If you don't activate your account you cannot:<br />
        <ul>
            <li>
                USP1
            </li>
            <li>
                USP2
            </li>
            <li>
                USP3
            </li>
        </ul>
    </p>
</div>