@using LetterAmazer.Business.Services.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Strings.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Strings.Error</h1>
        <h2>@Strings.ErrorHint</h2>
    </hgroup>
</body>
</html>