@using LetterAmazer.Websites.Client.Resources.Views.Shared
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewRes.Error</title>
</head>
<body>
    <hgroup>
        <h1>@ViewRes.Error</h1>
        <h2>@ViewRes.ErrorHint</h2>
    </hgroup>
</body>
</html>