@using LetterAmazer.Business.Services.Resources
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    #mc_embed_signup form { padding: 0px; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="http://letteramazer.us3.list-manage.com/subscribe/post?u=12770c45f964020a15b7e87ba&amp;id=93a764e395" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <label for="mce-EMAIL">@Html.Raw(Strings.SignUpNewsletterHint)</label>
	    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="@Strings.EmailAddress" required />
	    <div class="clear"><input type="submit" value="@Strings.Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
</div>
<!--End mc_embed_signup-->