<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LetterAmazer.Business.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="LetterAmazerContext" connectionString="metadata=res://*/Data.LetterAmazer.csdl|res://*/Data.LetterAmazer.ssdl|res://*/Data.LetterAmazer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LetterAmazer;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LetterAmazerEntities" connectionString="metadata=res://*/Data.LetterAmazer.csdl|res://*/Data.LetterAmazer.ssdl|res://*/Data.LetterAmazer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LetterAmazer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <LetterAmazer.Business.Services.Properties.Settings>
      <setting name="LetterAmazer_Business_Services_com_postalmethods_api_PostalWS"
        serializeAs="String">
        <value>https://api.postalmethods.com/2009-02-26/PostalWS.asmx</value>
      </setting>
    </LetterAmazer.Business.Services.Properties.Settings>
  </applicationSettings>
</configuration>