body {
  font-family: 'open-sans', Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #616161;
  font-size: 13pt;
}
/*Page elements*/
.content {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  margin-top: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.footer {
  border-top: 1px solid #d9d9d9;
  padding: 20px 0;
  margin-top: 30px;
}
/*Helpers*/
@media (min-width: 992px) {
  .border-left {
    border-left: 1px solid #d9d9d9;
  }
}
.bottom-box {
  min-height: 120px;
}
.list-checkmarks,
.list-checkmarks ul {
  list-style-type: none;
  padding-left: 0px;
}
.checkmark {
  width: 20px;
  height: 20px;
}
/*Bootstrap overrides*/
a,
.navbar-inverse .navbar-nav > li > a {
  color: #616161;
}
a:hover,
a:active {
  color: #5ca0da !important;
}
a {
  color: #5ca0da;
}
.navbar-toggle {
  background-color: #333333;
}
.navbar-inverse {
  background-color: white;
  border-bottom: solid 1px #d9d9d9;
}
body > main > .container {
  padding: 60px 15px 0;
}
.btn-primary {
  background-color: #5ca0da;
}
.bg-primary p,
.bg-success p,
.bg-info p,
.bg-warning p,
.bg-danger p {
  padding: 15px;
}
/* Build in ASP.NET MVC error handling classes*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
/* Video flexing*/
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
.frontPageBox {
  text-align: center;
  margin-top: 35px;
}
.frontPageBox img {
  max-width: 80px;
  margin-bottom: 10px;
  min-height: 79px;
}
.frontPageBox .lead {
  display: block;
  font-size: 16pt;
  font-weight: bold;
}
.frontpageHeader {
  font-size: 34pt;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}
.ctaForm {
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}
.ctaForm h3 {
  text-align: center;
}
.ctaForm label,
.ctaForm p {
  font-size: 11pt;
}
.dashboardBox {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
}
.dashboardBox:hover {
  background-color: #fbfbfb;
}
.dashboardBox .lead {
  font-size: 16pt;
  text-align: center;
  display: block;
  font-weight: bold;
}
.breadcrumbs {
  font-size: 10pt;
  font-style: italic;
}
.statusCircle {
  text-align: center;
  font-size: 10pt;
  margin-top: 20px;
}
.circleDiv {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding-top: 22px;
}
.circleNumber {
  font-size: 18pt;
}
.pointer:hover {
  cursor: pointer;
}
.smallInfo {
  font-size: 10pt;
  font-style: italic;
}
.dashboardLink,
.dashboardLink:hover,
.dashboardLink:active,
.dashboardLink:visited,
.dashboardLink p,
.dashboardLink p:hover {
  color: #616161;
  text-decoration: none;
}
.dashboardBox .credit-text {
  color: #5ca0da;
  font-size: 22pt;
}
/*# sourceMappingURL=Main.css.map */