<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LetterAmazerContext" connectionString="metadata=res://*/Data.LetterAmazer.csdl|res://*/Data.LetterAmazer.ssdl|res://*/Data.LetterAmazer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LetterAmazer;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LetterAmazerEntities" connectionString="metadata=res://*/Data.LetterAmazer.csdl|res://*/Data.LetterAmazer.ssdl|res://*/Data.LetterAmazer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LetterAmazer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="LetterAmazer.BasePath" value="http://localhost:1050/" />

    <add key="LetterAmazer.Settings.StorePdfPath" value="~/UserData/PdfLetters" />
    <add key="LetterAmazer.Settings.StoreZipPath" value="~/UserData/Zip" />

    <add key="LetterAmazer.Payment.PayPal.ServiceUrl" value="https://www.paypal.com/cgi-bin/webscr?" />
    <add key="LetterAmazer.Payment.PayPal.IpnHandler" value="/callback/paypalipn/{0}" />
    <add key="LetterAmazer.Payment.Successful" value="/singleletter/confirmation" />
    <add key="LetterAmazer.Payment.Invoice.ServiceUrl" value="/payment/invoice?id={0}" />


    <add key="LetterAmazer.Fulfilment.Jupiter.ServiceUrl" value="https://www.dtpcloudsystems.net/WorldShip/rs/S3AccessResponder?restletMethod=get" />
    <add key="LetterAmazer.Fulfilment.Jupiter.Username" value="0429924b-6815-31bb-b4a6-f3e370a0f357" />
    <add key="LetterAmazer.Fulfilment.Jupiter.Password" value="5dfa18f3-074f-4689-82ea-8ed45551a349" />

    <add key="LetterAmazer.Customer.ResetPassword" value="/RecoverPassword/{0}" />
    <add key="LetterAmazer.Customer.Confirm" value="/Confirm?key={0}" />

    <add key="LetterAmazer.Mail.Mandrill.ApiUrl" value="https://mandrillapp.com/api/1.0" />
    <add key="LetterAmazer.Mail.Mandrill.ApiKey" value="PbZjydyFtPgb2nyjy7k3KA" />

    <add key="LetterAmazer.Notification.Emails" value="mcoroklo@gmail.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>