body {
    
}

h1 {
    font-size: 48pt;
    font-family: 'Open Sans', sans-serif;
}

.margintop {
    margin-top: 35px;
}

.buttonmargintop {
    margin-top: 10px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
}


